html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.htmx-indicator {
  position: absolute;
  right: 50%;
}
/*tab view stuff from  https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
  overflow: hidden;
  flex-flow: row;
  border: 1px solid #ccc;
  background-color: #4cc9F0;
}
.tablinks {
  width: 25%;
  margin: 0;
  color: #f72585;
  font-weight: bolder;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #4361EE;
}

.tab button.active {
  background-color: #7209B7;
}

.tabcontent {
  display: none;
/*  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;*/
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#siteLogo {
  margin-left: 100px
}

@media only screen and (max-width: 1026px) {
  #siteLogo {
    display: none;
  }
}

.filter-groups {
  /*
  visibility: hidden;
  */
  display: flex;
  flex-flow: row;

}

.filters{
  display: flex;
  flex-flow: column;
  max-height: 300px;
  width: 300px;
  overflow-y: scroll;
  align-content:  start;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.filters::-webkit-scrollbar {
  display: none;
}

.filter {
  flex-flow: row;
  display:flex;
  flex: auto;
  margin-bottom: 5px;
  margin-left: 10px;
}
.filter > button {
  width:  50px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.add-filter{
  border-radius: 0 5px 5px 0;
  background-color: #2e7d32;
}
.remove-filter{
  border-radius: 5px 0 0 5px;
  background-color: #b71c1c;
}
.filter-label {
  background-color: #1f2d38;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  margin: 0;
}
.hidden-row{
    display: none;
}

input:invalid {
  border: red solid 3px;
}

#loading {
  min-height: 0;
  min-width: 0;
}

#graphView > div {
  max-height: 50vh;
  min-width: 50vw;
  
}
#help {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
#help > p {
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 0;
  color: white;
}

.hstack {
  display: flex;
  flex-flow: row;
}
.userInputForm {
  width: 100%;
}


::backdrop {
  background-image: linear-gradient(
          45deg,
          magenta,
          rebeccapurple,
          dodgerblue,
          green
  );
  opacity: 0.75;
}

.instruction-modal{
  width: 80vw;
  height: 80vh;
  background-color: #11191f;
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
  padding: 40px;
  overflow-y: scroll;
}

.dropbtn {
  background-color: var(--primary);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  margin:0;


}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  left: -158px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px 0 20px 20px;
  z-index: 1;
}

.dropdown-link {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}

.dropdown-link:hover {
  background-color: dodgerblue;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: dodgerblue;
  border-radius: 5px 5px 0 0;
}

.watchListTable {
  margin-top: 60px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;