bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Movie-KnightMovieCache.420
Movie-KnightMovieCache.420
Movie-KnightMovieCache.420
Movie-KnightMovieCache.json
Movie-Knight.sln.DotSettings.user
