@page
@model Movie_Knight.Pages.IndexModel
@{
    ViewData["Title"] = "User Comparison";
}





<div class="container" id="entryFrom">
    <h4>>Enter a comma seperated list of usernames to compare. (max 8) </h4>
    <input type="text" pattern="[A-Za-z0-9,_\s]+" name="userNames" 
           placeholder="James-Holden, Naomi-Nagata, Tim, Alex-Kamal, Peaches, Gunny"/>  
        

    <button hx-get="UserComparison"
            hx-include="[name='userNames']"
            hx-target="#userAnalysis"
            hx-indicator="#spinner"
            hx-replace-url="true">
        Load user comparison
    </button>

    <div class="container-fluid">
        <img  id="spinner" class="htmx-indicator" src="/img/loading.svg" alt="Loading indicator"/>
    </div>
    <div id="userAnalysis">
        <img src="img/Kenneth.webp" alt=""/>
    </div>
    

</div>