@page
@model Movie_Knight.Pages.IndexModel
@{
    ViewData["Title"] = "User Comparison";
}





<div class="container" id="entryFrom">
    <h4>>Enter a comma seperated list of usernames to compare. (max 8)<br/>
        IE: James-Holden, Naomi-Nagata, Tim, Alex-Kamal, Peaches, Gunny</h4>
    <textarea name="userNames"></textarea>

    <button hx-get="UserComparison"
            hx-include="[name='userNames']"
            hx-target="#userAnalysis"
            hx-indicator="#spinner"
            hx-replace-url="true">
        Load user comparison
    </button>

    <div class="container-fluid">
        <img  id="spinner" class="htmx-indicator" src="/img/loading.svg" alt="Loading indicator"/>
    </div>
    <div id="userAnalysis">
        <img src="img/Kenneth.webp" alt=""/>
    </div>
    

</div>