@page "/_Instructions"
@model Movie_Knight.Pages.Shared._Instructions

@{
    Layout = null;
}
<h3>Instructions:</h3>
<ol>
    <li>For each user you would like to include navigate to their letterboxd profile and copy the system name 
        from the address bar ie: <img src="img/UsernName.jpg" alt="A URL with the Path highlighted"/> </li>
    <li>
        Paste the above user names into the text field (With commas between users) at the top of the page.</li>
    <li>Press load user comparison.</li>
    <li>Optional: Open movie details and add filters to get more granular information ie:
        <img src="img/filter-example.jpg" alt=""/> In the above image you can press plus to only include movies with Wes Anderson as a director or minus to remove all movies directed by Wes Anderson</li>
</ol>