<div class="container text-gray-200 my-2" id="entryFrom">
    <div class="flex flex-col">
        <form class="userInputForm flex flex-col gap-2">
            <h4 class="text-gray-200 text-xl">>Enter a comma seperated list of usernames to compare. (max 8) </h4>
            <div class="flex min-w-full gap-2">
            <input type="text" pattern="[A-Za-z0-9,_\-\s]+" name="userNames"
                   placeholder="James-Holden, Naomi-Nagata, Tim, Alex-Kamal, Peaches, Gunny"
                   autocomplete="letterboxd-users"
                   value="@ViewContext.HttpContext.Request.Query["userNames"]"
                   class="h-10 w-full bg-transparent border border-blue-400 hover:border-blue-500 focus:border-red-500">
                <button id="help" type="button" onclick="showHelp()" class="p-2 bg-cyan-500 hover:bg-cyan-300 rounded-full mt-1"><p class="font-bold">?</p></button>
            </div>
            <button hx-get="UserComparison"
                    hx-include="[name='userNames']"
                    hx-target="#userAnalysis"
                    hx-indicator="#spinner"
                    hx-replace-url="true"
                    class="text-gray-950 hover:text-gray-700 bg-cyan-500 hover:bg-cyan-300 rounded-1 p-3 font-semibold">
                Load user comparison
            </button>
        </form>
        </div>
    <img id="spinner" class="htmx-indicator" src="/img/loading.svg" alt="Loading indicator"/>
</div>

<dialog>
    <div class="instruction-modal text-gray-200">
        <div class="flex justify-between">
        <h3 class="text-xl">Instructions</h3>
        <button autofocus class="bg-cyan-500 hover:bg-cyan-300 p-4 ml-4 ">Close</button>
        </div>
        <ol class="list-decimal list-inside">
            <li>For each user you would like to include navigate to their letterboxd profile and copy the system name
                from the address bar ie:<br/> <img src="img/UsernName.jpg" alt="A URL with the Path highlighted"/> </li>
            <li>
                Paste the above user names into the text field (With commas between users) at the top of the page.</li>
            <li>Press load user comparison.</li>
            
            
            <li>Optional: Open movie details and add filters to get more granular information ie:<br/>
                <img src="img/filter-example.jpg" alt=""/><br/> In the above image you can press plus to only include movies with Wes Anderson as a director or minus to remove all movies directed by Wes Anderson</li>
        </ol>
    </div>
</dialog>
<script>
const dialog = document.querySelector("dialog");
const showButton = document.querySelector("dialog + button");
const closeButton = document.querySelector("dialog button");

// "Show the dialog" button opens the dialog modally
function showHelp(){
  dialog.showModal();
}

// "Close" button closes the dialog
closeButton.addEventListener("click", () => {
  dialog.close();
});
</script>