@page
@model Movie_Knight.Pages.Shared._UserNotFound

@{
    Layout = null;
}

<p>Hey, I had trouble finding one of the users you entered.</p>
<img src="img/UserNotFoundInfo.jpg"/>
<p>The Username should be the unique username displayed in the <b>URL/web address</b> when you navigate to their profile page.<br/>
Not the display name you see</p>