@page "/_WatchList"
@model Movie_Knight.Pages.Shared._WatchList

@{
    Layout = null;
}
<table class="watchListTable">

@foreach (var movie in Model.Movies)
{
    <tr>
        <td>
            <a href="https://letterboxd.com/film/film:@movie.id">@movie.name.Split("-").Select(x =>
                                                                     x[..1].ToUpper() + x[1..]).Aggregate("", (x, y) => (x + " " + y))
            </a>
        </td>
        <td>@movie.description</td>
    </tr>
}
</table>